@import url(./variables.css);

/* Tabela de Unidades 

px: Precisão fixa. Útil para bordas, margens e espaçamentos pequenos.
%: Relativo ao elemento pai. Útil para layout responsivo e dimensionamento em relação ao contêiner pai.
em: Relativo ao tamanho do texto dentro do elemento pai. Ideal para tamanho de fonte e espaçamento entre linhas.
rem: Relativo ao tamanho do texto do elemento raiz. Útil para dimensionamento global baseado em um único ponto de referência.
vw: Relativo à largura da viewport. Bom para elementos que se ajustam dinamicamente à largura do navegador.
vh: Relativo à altura da viewport. Útil para elementos que se ajustam dinamicamente à altura do navegador.
ch: Relativo à largura do caractere "0". Útil para dimensionar elementos com base no tamanho do caractere.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--font-family-sans-Roboto);
    background-color: var(--background-primary);
    color: var(--text-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

figure {
    position: absolute;
    max-width: 100%;
}

figure img {
    height: 100%;
    display: block;
}

.home-image {
    top: 51px;
    left: 150px;
    width: 431px; /* 431 */
    height: 661px; /* 661 */
}

.main-figure {
    left: 87.5px;
    bottom: 134px;;
    width: auto;
    height: auto;
}

main {
    position: absolute;
    top: 232px;
    left: 732px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 500px;
    height: 298.55px;
    gap: 0px;
}

h1 {
    font-weight: 700;
    font-size: 6.9375em; /* 111px */
    line-height: 8.13rem; /* 130.08px */
}

h3 {
    font-size: 39px;
    font-weight: 700;
    line-height: 45.7px;
    text-align: center;
    margin-bottom: 14px;
}

h6 {
    font-size: 1.813em; /* 29px */
    font-weight: 700;
    line-height: 2.124em; /* 33.98px */
}

p {
    font-size: 28px;
    font-weight: 400;
    line-height: 32.81px;
    text-align: center;
}

a {
    text-decoration: none;
}

label.label-form-question {
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio .radio-button {
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 5px;
    position: relative;
    background-color: #3EB25E4D;
    transition: all 0.3s ease;
    margin-right: 24px;
}

.custom-radio .radio-button::after {
    content: '';
    width: 26px;
    height: 26px;
    background-color: #3EB25E;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s ease;
}

.custom-radio input[type="radio"]:checked + .radio-button::after {
    transform: translate(-50%, -50%) scale(1);
}

.custom-radio:hover .radio-button {
    background-color: #3ba559fb;;
}

.custom-radio:hover .radio-button::after {
    background: #3EB25E;
}

form {
    text-align: left; /* Alinha texto à esquerda */
    display: flex; /* Define como flexbox */
    flex-direction: column; /* Alinha itens em coluna */
    justify-content: flex-start; /* Alinha itens à esquerda */
}

.form-input div {
    margin-bottom: 27px;
}

form .form-option-choice {
    display: inline-block;
    flex-wrap: wrap;
}

label {
    font-size: 26px;
    font-weight: 400;
    line-height: 30.47px;
    text-align: left;    
}

select {
    width: 459px;
    height: 52px;
    border-radius: 20px;
    border: 1px solid var(--select-border-primary);
    padding: 9px 13px;
    font-size: 26px;
    font-weight: 400;
    line-height: 30.47px;
    text-align: left;
}

textarea {
    border-radius: 20px;
    border: 1px solid var(--textarea-border-primary);
    resize: none;
    height: 277px;
    width: 100%;
    margin-bottom: 62px;
}

select:hover {
    border-color: var(--select-border-secundary);
}

select:focus {
    border-color: var(--select-border-primary);
}

input {
    width: 459px;
    height: 52px;
    border-radius: 20px;
    text-align: left;
    padding: 9px 15px;
    font-size: 27px;
    border: 1px solid var(--input-border-primary);
}

input::placeholder {
    font-size: 27px;
    justify-content: center;
}

button {
    width: 199px;
    height: 35.55px;
    background-color: var(--button-primary);
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    border-style: none;
    color: var(--border-text-primary);
    font-weight: 700;
    font-size: 1.375em;
    text-align: center;
    gap: 27px;
}

.form-button-div {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 320px;
    gap: 14px;
}

.form-button-div button:nth-child(3):last-child {
    grid-column: span 2;
    width: calc(100% - 27px);
}

button[type='button']:hover {
    color: var(--button-text-secundary-color);
    background-color: var(--button-secundary);
    transition: all 0.3s ease;
}


main div {
    margin-bottom: 66px;
}

.label-form-question {
    font-size: 26px;
    font-weight: 700;
    line-height: 30.47px;
    text-align: left;
}

.label-input-question {
    margin-left: 10px;
}

@media (max-width: 1200px) {
    figure {
        top: 20px;
        left: 100px;
        width: 300px;
        height: auto;
    }

    main {
        top: 150px;
        left: 400px;
        width: 350px;
    }

    h1 {
        font-size: 5em;
        line-height: 6rem;
    }

    h6 {
        font-size: 1.5em;
        line-height: 2em;
    }

    button {
        width: 150px;
        height: 30px;
        font-size: 1.2em;
    }
}

@media (max-width: 760px) {
    body {
        flex-direction: column;
        align-items: flex-start;
    }

    figure {
        top: 10px;
        left: 50px;
        display: flex;
        height: 416px;
    }

    main {
        top: 100px;
        left: 50px;
        width: 300px;
    }

    h1 {
        font-size: 4em;
        line-height: 5rem;
    }

    h6 {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    button {
        width: 120px;
        height: 25px;
        font-size: 1em;
    }
}

.hide {
    display: none;
}