:root {
    /* Colors */
    --background-primary: #fff;
    --text-color: #000;

    --button-primary: #3EB25E;
    --button-secundary: #FFFF7D;
    --button-text-primary-color: #fff;
    --button-text-secundary-color: #000;
    --button-checkmark: #3EB25E;

    /* Typography */
    --font-family-sans-Roboto: 'Roboto', sans-serif;
    
    /* Borders */
    --border-radius-small: 20px;
    --border-radius-medium: 35px;
    --border-text-primary: #fff;
    --border-text-secundary: #000;
}